<!-- <p>village works!</p> -->
<!-- <button (click)='a2()'>b</button> -->
<!-- <p>{{todaydate}}</p> -->
<!-- <p>{{villagecomponent}}</p> -->
<!-- <p>{{villagecomponentproperty}}</p> -->
<!-- <div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addTomyservice(product)">Buy</button>
</div> -->
<!-- <h2>Employeelist</h2>
<h2 [style.color]="'red'">{{name}}</h2>
<h2 [style.color]="deva ? 'red':'green'">{{name}}</h2> -->
<!-- <p><input [(ngModel)]="name" type="text"> -->
<!-- {{name}}</p> -->
<!-- <table><tr>
    <td>sl no</td>
    <td>id</td>
    <td>name</td>
    <td>place</td>
  </tr>


  <tr *ngFor='let list of employeelist;let i=index;let evenelist=even;let oddlist=odd;' [ngClass]="{odd:oddlist,even:evenlist}">
    
    <td>{{i+1}}</td>
    <td>{{list.id}}</td>
    <td>{{list.name}}</td>
    <td>{{list.place}}</td>

  </tr>

</table> -->
<!-- <div *ngIf="raja; then=thenBlock;else=elseBlock"></div>
<ng-template #thenBlock>
  <h2>hi everyone</h2>
</ng-template>
<ng-template #elseBlock>
  <h2>hello everyone</h2>
</ng-template> -->
<!-- <form [formGroup]="sig">
  name:<input type="text" formControlName="name">
  <button (click)="add(sig)">add</button>
</form> -->
<h1>The Content of the Table are</h1>
<hr color="red">
<table>
  <tr>
    <th>Tags</th>
    <th>ReportedBy</th>
    <th>ReportedDate</th>
    <th>Name</th>
    <th>description</th>
    </tr>
    <tr *ngFor='let a of ar'>
        <th>{{a.tags}}</th>
        <th>{{a.reportedBy}}</th>
        <th>{{a.reportedDate}}</th>
        <th>{{a.name}}</th>
        <td>{{a.description}}</td>
     </tr>
</table>
<!-- <p *ngFor='let a of ar'>{{a.reportedBy}},
  {{a.name}}
</p> -->

<!-- <a href=''>aa</a> -->

