<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <h2>container</h2>
        <p> fixed width</p>

    </div>
    <hr>
    <div class="container-fluid">
        <h2>container-fluid</h2>
        <p>full width container</p>
    </div>
    <hr>
    <div class="container-fluid">
        <h2>col:create equal width</h2>
        <div class="row">
            <div class="col">col1</div>
            <div class="col">col2</div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">col4</div>
                <div class="col-sm-2">col4</div>
                <div class="col-sm-2">col4</div>
                <div class="col-sm-2">col4</div>
                <div class="col-sm-2">col4</div>
            </div>
        </div>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">col4</div>
                <div class="col-sm-8">col4</div><br>
                <div class="col-sm-1">col4</div>
                <div class="col-sm-6">col4</div><br>
                <div class="col-sm-3">col4</div>
                <div class="col-sm-2">col4</div>
                <div class="col-sm-8">col4</div>
                <div class="col-sm-2">col4</div><br>
                <div class="col-sm-3">col4</div>

            </div>
        </div>
        <hr>
        <div class="container">
            <h1 class="display-1">display1</h1>
            <h1 class="display-2">display2</h1>
            <h1 class="display-3">display3</h1>
            <h1 class="display-4">display4</h1>
            <h1 class="display-5">display5</h1>
            <h1 class="display-6">display6</h1>

        </div>
        <hr>
        <div class="container">
            <h1 class="display-1">display1 <small>bootstrap1</small></h1>
            <h1 class="display-2">display2 <small>bootstrap2</small></h1>
            <h1 class="display-3">display3 <small>bootstrap3</small></h1>
            <h1 class="display-4">display4 <small>bootstrap4</small></h1>

        </div>
        <hr>
        <div class="container">
            <h2>mark:highlight of the text</h2>
            <p>mark is <mark>highlight of the text</mark>
            </p>

        </div>

        <hr>
        <div class="container">
            <dl>
                <dt>discription list</dt>
                <dd>-good morning</dd>
                <dt>coffe</dt>
                <dd>-drink first water</dd>
            </dl>

        </div>
        <hr>
        <div class="container">
            <h1>code snippets</h1>
            <p>movies in this year <code>kgf</code>kannad <code>maharshi</code>telugu <code>war</code>hindi</p>
        </div>
        <hr>
        <div class="container">
            <h1>Keyboard Inputs</h1>
            <p>To indicate input that is typically entered via the keyboard, use the kbd element:</p>
            <p>Use <kbd>ctrl + p</kbd> to open the Print dialog box.</p>
        </div>
        <hr>
        <div class="container">
            <h1>Font weight and italics</h1>
            <p class="font-weight-bold">Bold text.</p>
            <p class="font-weight-bolder">Bolder text.</p>
            <p class="font-weight-normal">Normal weight text.</p>
            <p class="font-weight-light">Light weight text.</p>
            <p class="font-weight-lighter">Lighter weight text.</p>
            <p class="font-italic">Italic text.</p>
        </div>
        <hr>
        <div class="container-fluid">
            <p class="text-left">Banglore</p>
            <p class="text-right">manglore</p>
            <p class="text-center">Raichur</p>
            <p class="text-left">mysore</p>
            <p class="text-justifyid">garaladinni</p>


        </div>
        <hr>
        <div class="container-fluid">
            <h2>text break</h2>
            <p class="text-break">abcdefghijklmnopqrstuvwxyz 0123456789
                qwertyuikasdfghjklzxcvbnmfhvdghfgfgdhsjkalghdcjkxzvgchjxkgchjxtyuivcghxjzkvbcnxmz,dghsjkfgdhjskgdhjkfghdjkgggggggggggggggggggggggggggggggggggggggggggggggggffffffffffffffffffffffffffffjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjllllllllllllllllllllllqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbcccccccccccccccccccccccccccccccccccccccccccccccccjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjdddddddddddddddddddddddddddddddddddddddkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkklllllllllllllllllllllllllllllllllllllllllaaaaaaaaaaaaaaaaaammmmmmmmmmmm
            </p>
        </div>
        <hr>
        <div class="container">
            <h2>uppercase</h2>
            <p class="text-uppercase">abcdefghijkmnopqrstuvwxyz</p>
            <p class="text-uppercase">ABCDEFGHIjklmnop</p>
        </div>
        <hr>
        <div class="container">
            <h2>lowercase</h2>
            <p class="text-lowercase">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
            <p class="text-lowercase">ABCDEFGHIjklmnop</p>
        </div>
        <hr>
        <div class="container">
            <p class="text-muted">text color is muted</p>
            <p class="text-primary">text color is important</p>
            <p class="text-danger">text color is danger</p>
            <p class="text-success">text color is succcess</p>
            <p class="text-info">text color is info</p>
            <p class="text-dark">text color is dark</p>
            <p class="text-secondry">text color is secondry</p>
            <p class="text-white">text color is white</p>
            <p class="text-body">text color is body</p>

        </div>
        <hr>
        <div class="container">
            <a href="#" class="text-success">succcess link.</a>
            <a href="#" class="text-primary">primary link.</a>
            <a href="#" class="text-secondry">secondry link.</a>
            <a href="#" class="text-warning">waning link.</a>
            <a href="#" class="text-danger">danger link.</a>
            <a href="#" class="text-blue">dark link.</a>
            <a href="#" class="text-silver">light link.</a>

        </div>
        <hr>
        <h1 class="text-success">Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>firstname</th>
                    <th>lastname</th>
                    <th>email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Raja</td>
                    <td>swamy</td>
                    <td>raja@419</td>

                </tr>
                <tr>

                    <td>balu</td>
                    <td>mahenda</td>
                    <td>mahendra@419</td>
                </tr>
                <tr>

                    <td>mallan</td>
                    <td>gouda</td>
                    <td>gouda@44</td>

                </tr>
            </tbody>


        </table>
        <hr>
        <div class="row">
            <div class="container-fluid">
                <h2 class="text-primary">Table -striped</h2>
                <div class="col-sm-2">
                    <table class="table table-striped">
                        <thead>
                            <th>Fname</th>
                            <th>Lname</th>
                            <th>Email</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>basavara</td>
                                <td>gouda</td>
                                <td>gouda@123</td>
                            </tr>
                            <tr>
                                <td>shankar</td>
                                <td>gouda</td>
                                <td>gouda@321</td>
                            </tr>
                            <tr>
                                <td>shivaraj</td>
                                <td>gouda</td>
                                <td>gouda@456</td>
                            </tr>
                            <tr>
                                <td>deva</td>
                                <td>dada</td>
                                <td>dada@456</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <div style="margin-left:90%;margin-top:-250px;">
                    <table class="table table-bordered">
                        <thead class="table-danger">
                            <th>Fname</th>
                            <th>Lname</th>
                            <th>Email</th>

                        </thead>
                        <tbody>
                            <tr class="table-success">
                                <td>basavara</td>
                                <td>gouda</td>
                                <td>gouda@123</td>
                            </tr>
                            <tr class="table-primary">
                                <td>shankar</td>
                                <td>gouda</td>
                                <td>gouda@321</td>
                            </tr>
                            <tr class="table-danger">
                                <td>shivaraj</td>
                                <td>gouda</td>
                                <td>gouda@456</td>
                            </tr>
                            <tr class="table-dark">
                                <td>deva</td>
                                <td>dada</td>
                                <td>dada@456</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

            <div style="margin-left:20%;margin-top:-250px;">
                <table class="table table-hover table-dark">
                    <thead>
                        <th>Fname</th>
                        <th>Lname</th>
                        <th>Email</th>

                    </thead>
                    <tbody>
                        <tr>
                            <td>basavara</td>
                            <td>gouda</td>
                            <td>gouda@123</td>
                        </tr>
                        <tr>
                            <td>shankar</td>
                            <td>gouda</td>
                            <td>gouda@321</td>
                        </tr>
                        <tr>
                            <td>shivaraj</td>
                            <td>gouda</td>
                            <td>gouda@456</td>
                        </tr>
                        <tr>
                            <td>deva</td>
                            <td>dada</td>
                            <td>dada@456</td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>



        <hr>
        <div class="row">

            <div class="container-fluid">
                <h1>Rounded corner</h1>
                <p>
                    <img src="../assets\army.jpg" alt="way" class="rounded" width="30%;height=10%">
                    <img src="../assets\nature.jpg" alt="fog" class="rounded-circle">
                    <img src="../assets\nature.jpg" class="float-right">
                </p>
            </div>

        </div>
        <hr>
        <h2 class="text-success">jumbotron</h2>
        <div class="container">
            <div class="jumbotron">
                <h1>states</h1>
                <p>karnataka</p>
                <p>bihar</p>
                <p>dehali</p>
                <p>uttarprades</p>


            </div>
            <p>Raichur</p>
            <p>garaladinni</p>
            <p>manvi</p>
        </div>
        <hr>
        <div class="container">
            <h1>alert & dismissible</h1>
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>

                <p>
                    Rajashekhara swamy</p>

            </div>
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <p>mahendra reddy</p>
            </div>
            <div class="alert alert-danger alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                <p>Vihnuprasad</p>

            </div>
            <div class="alert alert-primary alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                <p>shankar gouda</p>

            </div>
            <div class="alert alert-secondry alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                <p>basava</p>

            </div>
            <div class="alert alert-dark alert-dismissible">
                <button class="close" data-dismiss="alert">&times;</button>
                <p>Deva</p>raja

            </div>
        </div>
        <hr>
        <div class="container">
            <h2>Button</h2>
            <button type="button" class="btn">basic</button>
            <button type="button" class="btn btn-primary">primary</button>
            <button type="button" class="btn btn-secondry">secondry</button>
            <button type="button" class="btn btn-info">info</button>
            <button type="button" class="btn btn-success">success</button>
            <button type="button" class="btn btn-danger">danger</button>
            <button type="button" class="btn btn-dark">dark</button>
            <button type="button" class="btn btn-light">light</button>
            <button type="button" class="btn btn-lighter">lighter</button>
            <button type="button" class="btn btn-link">link</button>
            <button type="button" class="btn btn-outline-success text-dark">outline</button>
            <button type="button" class="btn btn-outline-warning text-light">outline</button>

        </div>
    </div>

    <hr>
    <div class="btn-group">
        <button class="btn btn-primary">home</button>
        <button type="button" class="btn btn-success">contact</button>
        <button type="button" class="btn btn-warning">home</button>

    </div>

    <hr>
    <div class="btn-group">
        <button type="button" class="btn-success">home</button>
        <button type="button" class="btn-warning">village</button>
        <div class="btn-group">

            <button type="button" class="btn-success dropdown-toggle" data-toggle="dropdown">contact</button>

            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">number</a>
                <a href="#" class="dropdown-item">name</a>

            </div>
        </div>
    </div>
    <hr>

    <button class="btn btn-primary">list
        <span class="badge badge-light">a</span>
    </button>
    <button type="button" class="btn btn-warning">list2
        <span class="badge badge-success">8</span>

    </button>
    <hr>
    <div class="container">
        <div class="progress">
            <div class="progress-bar" style="width:50%">




            </div>

        </div>
    </div>
    <br>
    <hr>
    <div class="container">
        <div class="progress" style="height:10px;">
            <div class="progress-bar" style="height:10px; width:35%;">
            </div>
        </div>
    </div>
    <br>
    <div class="progress" style="height:20px;">
        <div class="progress-bar" style="height:20px;width:10%;">


        </div>

    </div>
    <br>
    <div class="pogress">
        <div class="progress-bar bg-success" style="width:50%">50%

        </div><br>
        <div class="progress-bar bg-primary" style="width:60%">60%

        </div><br>
        <div class="progress-bar bg-dark" style="width:70%">50%

        </div><br>
        <div class="progress-bar bg-warning" style="width:90%">50%

        </div><br>
    </div>
    <hr>
    <div class="container">
        <div class="progress">
            <div class="progress-bar bg-dark progress-bar-striped " style="width:50%">50%

            </div>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" style="width:60%">60%

            </div>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" style="width:70%">70%

            </div>
        </div>

    </div>
    <hr>
    <hr>
    <div class="container">
        <div class="progress">
            <div class="progrss-bar proggress-bar-animated progress-bar-striped bg-success" style="width:22%;">22%

            </div>

        </div><br>
        <div class="progress">
            <div class="progrss-bar proggress-bar-animated progress-bar-striped bg-primary" style="width:32%;">32%

            </div>

        </div><br>
        <div class="progress">
            <div class="progrss-bar proggress-bar-animated progress-bar-striped bg-dark" style="width:52%;">52%

            </div>

        </div><br>


    </div>
    <div>

    </div>
    <hr>
    <div class="container">
        <h2>Spinner</h2>
        <div class="spinner-border text-muted"></div>
        <div class="spinner-border text-success">shiva</div>
        <div class="spinner-border text-primary">mahendra</div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border bg-dark text-muted"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border bg-success text-secondry"></div>
        <div class="spinner-border text-warning"></div>
        <div class="spinner-border text-danger"></div>
        <div class="spinner-grow text-muted"></div>
        <div class="spinner-grow text-secondry"></div>
        <div class="spinner-grow text-dark">shankar</div>
        <div class="spinner-grow text-success">raja</div>
        <div class="spinner-grow spinner-border text-muted"></div>
        <div class=" spinner-border spinner-border-sm text-warning"></div>

    </div>
    <hr>
    <div class="container">
        <div class="dropdown">
            <h2>dropdown</h2>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">dropdown
                button</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a href="#" class="dropdown-item">link2</a>

            </div>

        </div>

    </div>
    <hr>
    <div class="container">
        <div class="dropdown ">
            <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item disable" href="#">link2</a>
                <a class="dropdown-item active" href="#">link3</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">link4</a>

            </div>



        </div>
        <br><br>
        <div class="dropdown dropup">
            <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">dropdown button
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item " href="#">link1</a>
                <a class="dropdown-item " href="#">link2</a>
                <a class="dropdown-item active" href="#">link3</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">link4</a>

            </div>


        </div>

    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">apple</button>
        <button type="button" class="btn btn-primary">vivo</button>
        <button type="button" class="btn btn-primary">oppo</button>
        <button type="button" class="btn btn-primary">nokia</button>
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item" href="#">link3</a>
                <a class="dropdown-item" href="#">link2</a>
                <a class="dropdown-item" href="#">link4</a>
                <a class="dropdown-item" href="#">link5</a>

            </div>
        </div>

    </div>
    <hr>
    <hr>
    <div class="container">
        <div class="btn-group">
            <button type="button" class="btn btn-warning">warning</button>

            <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item" href="#">link2</a>
                <a class="dropdown-item" href="#">link3</a>
                <a class="dropdown-item" href="#">ink4</a>

            </div>



        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary">primary</button>

            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown"></button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">link1</a>
                <a class="dropdown-item" href="#">link2</a>
                <a class="dropdown-item" href="#">link3</a>
                <a class="dropdown-item" href="#">ink4</a>

            </div>



        </div>


    </div>
    <hr>
    <hr>
    <div class="container">
        <h2>Forms</h2>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="email">email:</label>
                <input type="email" class="form-control" id="email" placeholder="email" name="email">
            </div>
            <div class="form-group">
                <label for="psd">password</label>
                <input type="password" id="psd" class="form-control" placeholder="password" name="pwd">

            </div>
            <div class="form-group form-check">
<label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="remember">remember me

</label>
            </div>

            <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div>
    <hr><hr style="background-color: chartreuse;">
    <div class="container">
        <form action="/action_page.php" class="was-validated">
            <div class="form-group">
                <label for="uname">uname</label>
                <input type="text" class="form-control" placeholder="uname" id="uname" required>
                <div class="valid-feedback">valid.</div>
                <div class="invalid-feedback">fill out the uname</div>

            </div>
            <div class="form-group">
<label for="password">password</label>
<input type="text" class="form-control" id="password" placeholder="password" required>
<div class="valid-feedback">valid</div>
<div class="invalid-feedback">fill the password</div>
            </div>
        </form>

    </div>
    <hr><hr>
    <div class="container">
        <div class="card" style="width: 200px;">
             <img src="../assets\army.jpg" class="card-img-bottom">
             <p style="margin-top:-40px;color:blue;font-size:20px;">indian army</p>
             <div class="card-body">
<h4 class="card-title">indian army</h4>
<p class="card-text">Indian army is the biggest army in the word</p>
         <a href="#" class="btn btn-primary">see profile</a>     
           </div>
        </div>

    </div>
    <hr><hr>
    <div class="container">
        <h2>collapse</h2>
        <p>when click button its show and hide</p>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">show</button>
        <div id="demo" class="collapse">
jnfjkjrkk;wkekdmmkvvnjhjgjnnkjgkjgjgjgjgjgjjgjjnj
        </div>

    </div>
    <br><br><br>
    <hr><hr>
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">hide</button>
<div class="collapse-show" id="demo">
raja vishnu mahesh mahendra shiva gouda swamy reddy
</div>
    </div><hr><hr><hr>
</body>

</html>